
//-- Sidebar Page --//
#main-wrapper {
  padding-bottom: 140px;
}
#main {
  position: relative;
  overflow-y: auto;
}
#sidebar-wrapper {
    height: 100%;
    padding: 0px 0 140px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
}
#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
@media (min-width: 992px) {
  #main-wrapper {
      float:right;
      padding-bottom: 140px;
  }
}
@media (max-width: 992px) {
  #main-wrapper {
      padding-top: 80px;
      padding-bottom: 140px;
  }
}
@media (max-width: 992px) {
  #sidebar-wrapper {
    position: static;
    height:auto;
    max-height: 300px;
    border-right:0;
  }
}


//-- Header and Footer CSS --//
  // for page scroll
.navbar-custom {
  height: 80px;
  background: linear-gradient(to bottom, #90bb62, #84B451);
  background-color: #84B451;
  border-bottom: 2px solid #90bb62;
}
.dropdown-toggle{
  font-size: 20px;
  color: white;
}

.navbar-nav>li>a {
  font-size: 20px;
  color: white;
  margin-top: 16px;
}
.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
  color: white;
  background-color: #76a248;
  border-radius: 10px;
}
#header_nav {
  width: 100%;
  height: 80px;
}
.navbar-brand>img {
  display: inline-block;
  max-width: 80px;
  max-height: 55px;
  padding-top: 0px;
  margin-left: 20px;
  margin-bottom: 15px;
}
// .navbar-brand {
//   width: 100px;
//   min-height: 80px;
// }
// -------------------------------
/* Footer Nav */
#footer-wrapper {
  position: fixed;
  bottom: 0;
  height: 140px;
  width: 100%;
  text-align: center;
  background-color: #84B451;
}


.footer_info {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-top: 15px;
}


ul {
  list-style: none;
}

.footer_info>li>a {
  color: white;
}

.footerheaders {
  margin-top: 20px;
  text-decoration: underline;
}

#legal {
  font-size: 10px;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  // margin-bottom: 5px;
}
#follow_us {
  margin-left: 50px;
}
#cur_time {
  vertical-align: top;
}




















