<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
		<div id="wrapper">
			<div id="sidebar-wrapper" class="col-sm-2">
	            <ul id="sidebar" class="nav nav-stacked affix">
			        <li><a href="/"><i class="fa fa-fw fa-home"></i> Home</a></li>
			        <li><%= link_to accomodations_path, :remote => true do %><span>Accomodations</span><% end %></li>
			        <li><%= link_to banking_path, :remote => true do %><span>Banking</span><% end %></li>
			        <li><a href="/healthcare"><i class="fa fa-fw fa-file-o"></i>Healthcare</a></li>
			        <li><a href="/pets"><i class="fa fa-fw fa-file-o"></i> Pets</a></li>
			        <li><a href="/residency"><i class="fa fa-fw fa-file-o"></i> Residency</a></li>
			        <li><a href="/safe_enviornments"><i class="fa fa-fw fa-file-o"></i> Safe Environments</a></li>
			        <li><a href="/schools"><i class="fa fa-fw fa-file-o"></i> International Schools</a></li>
			        <li><a href="/transportation"><i class="fa fa-fw fa-file-o"></i> Transportation</a></li>
			        <li><a href="/life_in"><i class="fa fa-fw fa-folder"></i> Life in Bangalore</a></li>
			        <li><a href="/membership"><i class="fa fa-fw fa-folder"></i> Membership</a></li>
			        <li><a href="/our_work"><i class="fa fa-fw fa-folder"></i> Our Work</a></li>
			        <% if user_signed_in? %>
			        <li><a href="/membersOnly"><i class="fa fa-fw fa-folder"></i> Member's Only</a></li>
			        <% end %>
			    </ul>
			</div>
			<div id="main-wrapper"  class="col-md-10 pull-right">
				<div id="main">

					
				</div>
			</div>
		
		</div>






