<link rel="stylesheet" href="simple-sidebar.css">
<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
        	<a href="/edit_email" class="edit_profile" style="font-weight: bold; font-size: 120%; margin-top: 15px;"><%=current_user.full_name %></a>
        </li>
        <li class="edit_profile">
        	<a href="/change_password">Change Password</a>
        </li>
        <li class="edit_profile">
        	<a href="">View Payments</a>
        </li>
        <li class="edit_profile">
        	<a href="">Edit Profile Picture</a>
        </li>
    </ul>
</div>



