<div id="footer-wrapper">
  <ul class="footer_info">
    <h4 class="footerheaders">About Us</h4>
    <li><a href="/owc_club_info">Club Information</a></li>
    <li><a href="/mission_statement">Mission Statement</a></li>
    <li><a href="/journey">Journey so far</a></li>
  </ul>
<!-- Contact Us -->
  <ul class="footer_info">
    <h4 class="footerheaders">Contact Us</h4>
    <li><a href="/contact">Contact Form</a></li>
    <li><a href="/executive_comittee">Executive Comittee</a></li>
    <li><a href="/trustee">Trustee</a></li>
  </ul>
<!-- Advertisements -->
  <ul class="footer_info">
    <h4 class="footerheaders">Advertisements</h4>
    <li><a href="/sponsor">Sponsors</a></li>
    <li><a href="/sponsor_form">Sponsor Form</a></li>
    <li><a href="/advertisements">Advertisements</a></li>
  </ul>
  <p id="totop"><a style="color:white; text-decoration: none;" href="/">Back to Top</a></p>
</div>